.about{
  width: 90%;
  height: 80vh;
  margin: 2em auto;

  h2{
    font-size: 2rem;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 2em;
    letter-spacing: 3px;

    &:before{
      content: "";
      display: block;
      width: 50%;
      height: 10px;
      position: relative;
      top: -30px;
      background: #4ECDC4; /* fallback for old browsers*/
      background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /*Chrome 10-25, Safari 5.1-6*/
      background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    }
  }

  p{
    width: 50%;
    text-align: justify;
    line-height: 2.5;
  }
}
