.gallery{
  width: 90%;
  height: 80vh;
  margin: 3em auto;

  h2{
    font-size: 2rem;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 2em;
    letter-spacing: 3px;


    &:before{
      content: "";
      display: block;
      width: 350px;
      height: 5px;
      position: relative;
      top: -30px;
      background: #4ECDC4; /* fallback for old browsers*/
      background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /*Chrome 10-25, Safari 5.1-6*/
      background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    }
  }

  .gallery-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
  }

  article{
    width: 30%;
    height: 300px;
    border: 1px solid #222;
    margin: 1.5em;
    flex: 1 1 auto;
    display: flex;

    img{
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      align-self: center;
    }

    @include desktop-laptop{
      width: 30%;
    }

    @include tablet{
      width: 30%;
      padding: 1em 0;
      margin: 1em;
    }

    @include smaller-tablet{
      width: 100%;
      margin: 1em;
    }

  }
}
