.main-nav{
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;

  .logo{
    width: 300px;

    img{
      max-width: 100%;
      margin: 0 auto;
    }

    @include clearfix;

    @include small-portrait{
      bottom: 20px;
      right: 20px;
      float: right;
    }
  }

  ul{
    display: flex;
    align-self: center;
  }

  li{
    margin: 0 .90em;
  }

  li:last-of-type{
    border: 2px solid #4ECDC4;
    transition: all .50s ease;

    &:hover{
      border: 2px solid transparent;
      background-color: #4ECDC4;
    }
  }

  a{
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: .90em;
  }

  @include smaller-tablet{
    justify-content: center;
  }

  @include small-portrait{
    padding: .10em;
  }
}
