.main-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, transparent, black), url(/assets/img/monsta.gif) center no-repeat black;
	background-size: 100% auto, cover;

  .header-content{
    @include center;
    text-align: center;
    width: 100%;
  }

  h1{
    width: 100%;
    font-size: 6vw;
    letter-spacing: -5px;
    font-family: gamecube;

    @include desktop-laptop{
      font-size: 8vw;
    }
  }

  button{
    font-size: 1.5rem;
    border: none;
    background: #4ECDC4; /* fallback for old browsers*/
    background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /*Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/

    margin: 5em auto 0 auto;

    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1.5em;
    width: 20%;
    cursor: pointer;
    font-weight: bold;

    @include desktop-laptop{
      width: 30%;
    }

    @include smaller-tablet{
      width: 60%;
      padding: 1em 0;
    }
  }
}
