/* text and background colors */
$light-text: #eee;
$dark-text: #222;
$light-background: #eee;
$dark-background: #222;
$accent-color: #264348;
$base-font: 'Nunito Sans';

/* media queries breakpoints */
$widescreen: 1200px;
$desktop-laptop: 1024px;
$tablet: 768px;
$smaller-tablet: 600px;
$small-landscape: 480px;
$small-portrait: 380px;


@font-face {
  font-family: gamecube;
  src: url(/assets/css/tools/GameCube.ttf);
}
