.main-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, transparent, black), url(../img/monsta.gif) center no-repeat black;
	background-size: 100% auto, cover;

  .header-content{
    @include center;
    text-align: center;
    width: 100%;
  }

  h1{
    width: 100%;
    font-size: 6vw;
    word-spacing: 5px;
    font-family: 'Passion One';

    @include widescreen{
      font-size: 5vw;
    }

    @include desktop-laptop{
      font-size: 8vw;
    }

    @include tablet{
      font-size: 10vw;
    }

    @media (min-width: 1200px) {
      font-size: 8.5vw;
    }
  }

  button{
    font-size: 1.5rem;
    border: none;
    background-color: #4ECDC4; /* fallback for old browsers*/
    margin: 5em auto 0 auto;
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1.5em;
    width: 20%;
    cursor: pointer;
    font-weight: bold;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: -3px;
      width: 100%;
      height: 100%;
      background-color: darken(#4ECDC4, 10%);
      z-index: -1;
    }

    @include desktop-laptop{
      width: 30%;
    }

    @include smaller-tablet{
      width: 60%;
      padding: 1em 0;
    }

    @include small-landscape{
      padding: .50em;
      width: 60%;
    }
  }
}
